


<form action="/Home/Create" method="post">

    <label>Title:</label>
    <input name="moviesToCreate.title" />

    <br /><br />


    <label>Director:</label>
    <input name="moviesToCreate.director" />

    <br /><br />



    <label>Title:</label>
    <input name="moviesToCreate.title" />

    <br /><br />


    <label>Director:</label>
    <input name="moviesToCreate.director" />

    <br /><br />


    <input type="submit" />

</form>